{% extends "personal_website/base.html" %}
{% load bootstrap %}
{% block title %}Grocery List{% endblock %}
{% block nav-grocery-list %}class="active"{% endblock %}
{% block content %}
    <div class="container">
        <div style="padding: 20px"></div>
        <div id="alert-box-holder">
        </div>
        <form class="form-inline" method="post" id="submit_form">
            {% csrf_token %}
            <ul class="list-group" id="main_list">
                <li class="list-group-item row">
                    <div class="col-md-6">
                        <label for="add">Add Item:</label>
                        <span class="input-group-btn">
                            {{ form|bootstrap_inline }}
                            <input type="submit" class="btn btn-primary" id="add" value="Add">
                        </span>
                    </div>
                    <span class="col-md-4">&nbsp;</span>
                    <input type="button" id="grocery_store"
                           class="btn btn-default pull-right col-md-3"
                           value="Log Grocery Store Visit"
                           data-type="popover" data-placement="bottom">
                </li>
                {% for item in items_list %}
                    <li class="list-group-item grocery_item row" id="{{ item.id }}">
                        <span class="label label-default">{{ item.quantity }}</span>
                        {{ item.name }}
                        <button type="button" class="btn btn-xs pull-right trash-button" href="#{{ item.id }}">
                            <span class="delete-text" hidden>Delete</span>
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <p style="padding-top: 5px" hidden>
                            <span class="text-muted" style="padding-left: 1em">Added {{ item.date_added }}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </form>

        <div id="popover_content_wrapper" style="display: none">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" id="price" class="form-control" name="price"
                               placeholder="45.00" min="0">
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-default log_reset">Log and Reset</button>
            </form>
        </div>
    </div>

{% endblock %}