{% extends "personal_website/base.html" %}
{% block title %}Grocery Visits{% endblock %}
{% block nav-gv %}class="active"{% endblock %}
{% block content %}
    <div class="container">
        <div style="padding: 20px;"></div>
        <div id="alert-box-holder"></div>
        <ul class="list-group" id="main-gv-list">
            {% for visit, items in data %}
                <div class="list-group-item row gv-entry" id="{{ visit.id }}">
                    <div class="col-md-6">
                        <h4><span
                                class="text-muted text-danger">${{ visit.price }}</span>&nbsp;&nbsp;{{ visit.date_added }}
                        </h4>
                        {% for item in items %}
                            <p><span class="label label-default">{{ item.quantity }}</span> {{ item.name }}</p>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-xs pull-right trash-button" href="#{{ visit.id }}">
                        <span class="delete-text" hidden>Delete</span>
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block optionalJS %}
    {% load staticfiles %}
    <script src="{% static "js/grocery_visit.min.js" %}"></script>
{% endblock %}